* {
    padding: 0;
    margin: 0;
}

body {

    background-color: #ffffff;
    font-size: 130%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    line-height: 32px;
}

h1 {
    text-align: center;
    font-size: 2em;
    display: inline-block;
}

h2 {
    font-size: 50px;

}

h3 {
    font-size: 1.7em;
    font-family: sans-serif;
    color: white;
}

h6 {
    color: darkgreen;
}

a {
    font-size: 100%;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 600;

}

span a {
    text-decoration: underline 2px rgb(29, 59, 230);
}

iframe {
    display: inline-block;
}

strong {
    color: #a35811;
    font-weight: bolder;
    text-decoration: underline 1px darkblue;

}

em strong {
    color: white;
    font-size: 1.1em;
    font-weight: bold;
}

footer nav p {
    display: inline;
}

p {
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

li {
    display: inline-block;
}

#alunos {
    width: 100%;
    margin: auto;
    padding: auto;
    line-height: 40px;
    padding: 3em;
    padding-top: 3em;
    padding-bottom: 20em;
}

.aluno {
    text-align: center;
    width: 3em;
    margin: 20%;
    width: 30%;
    margin: auto;
}

.header {
    background-color: white;
    padding-bottom: 80px;
}

.background {
    background-position: 50% 25%;
    background-size: cover;
    padding: 500px 30px 500px;
    background-image: url(/images/0x0.webp);
    background-blend-mode: screen;
    background-color: #38a19986;
    text-align: center;
}
main {
}

.title {
    padding: 1em 1em;
    background-color: #fffb00;
    text-decoration: none;
    font-family: sans-serif;
    margin-bottom: 40px;
    color: #000000;
}

.names {
    width: 30%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.paragrath {
    padding-top: 50px;
    text-align: justify;
}

.paragrath2 {

    max-width: min-content;
    padding-left: 1em;
    padding-right: 1em;
    color: #000000;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: auto;
    font-weight: 100px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.oceanblue {
    color: #1b9c9c;
}

.button1 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    display: inline-block;
    border: 3px solid black;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: -4px;
    border-radius: 4px;

}

.button2 {
    text-align: center;
    font-size: 0.5em;
    font-weight: 500;
    display: inline-block;
    border: 3px solid black;
    border-radius: 3px;
    padding: 10px ;
    margin-top: 1em;

}

.images2 {
    width: 100p;
    margin: auto;
}



.pictures {
    border-radius: 50%;
}

header a:hover {
    background-color: #000000;
}

header a:active {
    background-color: rgb(209, 209, 209);
    text-decoration: none;

}

a:hover {
    color: white;
    background-color: #000000;
    text-decoration: none;
}

a:active {
    color: black;
    background-color: #ffffff;
    text-decoration: none;

}

span a:hover {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    text-decoration: underline 2px solid rgb(0, 255, 21);
}

span a:active {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    text-decoration: underline 2px solid rgb(0, 255, 21);

}

a img:hover {
    background-color: #a1a1a1;
}

a img:active {
    background-color: #cfcfcf;

}

#dif-color {
    color: #bbff00;

}

#video {
    padding-right: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgb(24, 61, 61);
}